
body{
  overflow-x: hidden;
}
#wrapper {
  overflow-x: hidden;overflow-x: hidden;
  max-width:auto;
  margin-left: auto;
  margin-right: auto;
  
}
.snipsy{
  background-image: url("../images/camera-notebook-pen-yellow.jpg");
  background-size:contain;
  min-height: 40vh;
  overflow-x: hidden;
  
}

.snipsy-shadow{
  background-color: transparent;
  overflow-x: hidden; 
}

.title{
  text-shadow:black 2px 0 10px;
  font-weight: 350;
}

/* #wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
} */